!charts/
charts/*
!charts/db.json
!charts/dbc.json

!charts/rrhar
!charts/rrhar/*

!charts/sigma_apf/
!charts/sigma_apf/*

!charts/spmd/
!charts/spmd/*

!charts/a0
!charts/a0/*

!charts/fracture_ray
!charts/fracture_ray/*

!charts/apf2023
!charts/apf2023/*

!charts/demonkin
!charts/demonkin/*